body{
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color:cadetblue; */
  background-image: url(https://img.freepik.com/premium-photo/vintage-typography-background_670382-251443.jpg?semt=ais_hybrid&w=740&q=80  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 180px;
}

h1{
  color: rgb(28, 20, 20);
  font-family:Arial, Helvetica, sans-serif;
  padding-bottom: 12px;
  text-decoration: underline;
}

#box{
  background-color: rgba(255, 255, 255, 0.326);
  padding-bottom: 20px;
  padding: 20px;
  width: 320px;         
  border-radius: 10px;  
  box-shadow: 0 4px 12px rgba(0,0,0,0.3); 
  
  display: flex;
  flex-direction: column;
  gap: 10px;   
}

input{
  border: none;
  background: none;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(9, 97, 190);
}

input::placeholder{
  color: rgb(26, 199, 202);
  font-size: larger;
}

button{
  background-color:rgb(126, 31, 185);
  color: white;
  padding: 5px 12px;
  font-size: 18px;
}

#result{
  padding-top: 35px;
  font-size: large;
  flex-direction: column;
  color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.326);
  background-color: wheat;
  padding: 5px 7px;
}